<!-- <!DOCTYPE html> -->
<html>
<head>
<style>
body{
  background-image:url('assets/party-dance.jpg');
  background-repeat:repeat; 
}
</style>
</head>

<center><h1><font color="blue">!DANCE-DANCE!</font></h1></center><br>


<center><p><h2><font color="green">The new dance craze you dont want to miss out on.</font></h2></p></center>
