<h1>!DANCE-DANCE!</h1><br>

<!DOCTYPE html>
<html>
<head>
<style>
body{
  background-image:url('assets/party-dance.jpg');
  background-repeat:repeat; 
}
</style>
</head>


</p>
<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %></div>
   <h3><center><%=link_to("Become a part of the Dance Revolution", home_about_path) %></center></h3><br>
   <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

  <% else %>
  You are not signed in. Please sign in to continue.
   <h2><%= link_to('Login Here', new_user_session_path) %></h2>
<% end %></p>
